.overlay-container {
	background-color: rgba(0, 0, 0, 0.65);
	z-index: 1001;
	height: 100vh;
	width: 100vw;
	display: flex;
	padding-top: 72px;
	justify-content: center;
	position: fixed;
	left: 0;
	top: 0;
}

.search {
	background-color: #fff;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search-results {
	width: 344px;
	border-top: 1px solid #a4a6ac;
	padding: 12px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	height: 300px;
	overflow-y: scroll;
}
