@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	width: 4px;
}

*::-webkit-scrollbar-thumb {
	background-color: darkgray;
	border-radius: 4px;
}

.App {
	height: 100vh;
	display: grid;
	grid-template-columns: 336px 1fr;
	font-family: "Dosis", sans-serif;
	background-color: #cef0ff;
	color: #1e1714;
}

.app-loader {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #cef0ff;
}

.details-panel {
	padding: 18px;
}
